<!DOCTYPE html>
<html class="no-touch">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>test</title>
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/app.v2.css" />
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
</head>
<body>
    <!-- hader -->
    <header id="header " class="navbar">

        <ul class="nav navbar-nav hidden-xs">
            <li>
                <div class="m-t-small">
                    <a href="#" class="btn btn-sm btn-danger">
                        <i class="fa fa-home"></i> Home

                    </a>
                </div>
            </li>
            <li>
                <div class="m-t-small">
                    <a href="#" class="btn btn-sm btn-warning">
                        <i class="fa fa-list-alt"></i> Blog

                    </a>
                </div>
            </li>
            <li>
                <div class="m-t-small">
                    <a href="#" class="btn btn-sm btn-success">
                        <i class="fa fa-paperclip"></i> Document
                    </a>
                </div>
            </li>
            <li>
                <div class="m-t-small">
                    <a href="#" class="btn btn-sm btn-info">
                        <i class="fa fa-picture-o"></i> Photo
                    </a>
                </div>
            </li>
        </ul>
        <form class="navbar-form pull-right shift" action="" data-toggle="shift:appendTo" data-target=".nav-primary">
            <i class="fa fa-search text-muted"></i>
            <input type="text" class="input-sm form-control" placeholder="Search" />
        </form>


    </header>
    <!-- / header -->

    <section style="width: 900px; padding-left: 5%;">
        <section>
        <h2>2013</h2>
            <article class="media ">
                <div class="pull-left thumb-small">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-flag fa-stack-1x text-white"></i>
                    </span>
                </div>
                <div class="media-body">
                    <div class="pull-right media-mini text-center text-muted">
                        <strong class="h4">12:18</strong><br>
                        <small class="label bg-light">pm</small>
                    </div>
                    <a href="#" class="h4">Bootstrap 3.0 is comming</a>
                    <small class="block">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
                </div>
            </article>
            
            <article class="media ">
                <div class="pull-left">
                    <h2 style="width: 69px;"></h2>
                </div>
                <div class="pull-left thumb-small">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-flag fa-stack-1x text-white"></i>
                    </span>
                </div>
                <div class="media-body">
                    <div class="pull-right media-mini text-center text-muted">
                        <strong class="h4">12:18</strong><br>
                        <small class="label bg-light">pm</small>
                    </div>
                    <a href="#" class="h4">Bootstrap 3.0 is comming</a>
                    <small class="block">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
                </div>
            </article>
            <article class="media ">
                <div class="pull-left">
                    <h2 style="width: 69px;"></h2>
                </div>
                <div class="pull-left thumb-small">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-flag fa-stack-1x text-white"></i>
                    </span>
                </div>
                <div class="media-body">
                    <div class="pull-right media-mini text-center text-muted">
                        <strong class="h4">12:18</strong><br>
                        <small class="label bg-light">pm</small>
                    </div>
                    <a href="#" class="h4">Bootstrap 3.0 is comming</a>
                    <small class="block">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
                </div>
            </article>
            <article class="media ">
                <div class="pull-left">
                    <h2 style="width: 69px;"></h2>
                </div>
                <div class="pull-left thumb-small">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-flag fa-stack-1x text-white"></i>
                    </span>
                </div>
                <div class="media-body">
                    <div class="pull-right media-mini text-center text-muted">
                        <strong class="h4">12:18</strong><br>
                        <small class="label bg-light">pm</small>
                    </div>
                    <a href="#" class="h4">Bootstrap 3.0 is comming</a>
                    <small class="block">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
                </div>
            </article>
            
            <article class="media">
                <div class="pull-left">
                    <h2>2013</h2>
                </div>
                <div class="pull-left thumb-small">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-flag fa-stack-1x text-white"></i>
                    </span>
                </div>
                <div class="media-body">
                    <div class="pull-right media-mini text-center text-muted">
                        <strong class="h4">JUL 26</strong><br>
                        <small class="label bg-light">pm</small>
                    </div>
                    <a href="#" class="h4">Bootstrap 3.0 is comming</a>
                    <small class="block">Sleek, intuitive, and powerful mobile-first front-end framework for faster and easier web development.</small>
                </div>
            </article>

      
        </section>
        <section class="panel-body ">
            <div class="col-sm-6 m-b-xs">
                <a href="#" class="btn btn-sm btn-default">
                    <i class="fa fa-arrow-left"></i>旧的文章
                </a>
            </div>
            <div class="col-sm-6 m-b-xs">
                <a href="#" class="btn btn-sm btn-default pull-right">
                    <i class="fa fa-arrow-right"></i>新的文章
                </a>
            </div>
        </section>

    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder clearfix">
            <p>
                <small>Hai Guo copying right @ 2014 . Source code:<a href="https://github.com/guohai163/blog">https://github.com/guohai163/blog</a> </small>
                <br />
                <br />
                <a href="http://twitter.com/freeguo" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/guohai163" class="btn btn-xs btn-circle btn-github"><i class="fa fa-github"></i></a>
                <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a>
            </p>
        </div>
    </footer>
    <!-- / footer -->
    <script src="js/app.v2.js"></script>
</body>
</html>
