<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">  
<configuration>  
	<typeAliases>
		<typeAlias alias="Contact" type="org.guohai.blog.model.Contact"/>
	</typeAliases>
    <environments default="environment">  
        <environment id="environment">  
            <transactionManager type="JDBC" />  
            <dataSource type="POOLED">  
                <property name="driver" value="com.mysql.jdbc.Driver" />  
                <property name="url"  
                    value="jdbc:mysql://127.0.0.1:3306/guohaiblog?characterEncoding =UTF-8" />  
                <property name="username" value="ghblog" />  
                <property name="password" value="coolnet" />  
            </dataSource>  
        </environment>  
    </environments>  
    <mappers>
  	   <mapper resource="me/guohai/blog/data/Contact.xml"/>
    </mappers>
</configuration>  