<!DOCTYPE html>
<html lang="zh-CN">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>海眼看天下 </title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
	<style type="text/css">
			.site-header {
			background: rgba(51, 71, 61, 0.05) url(http://blog.guohai.me/wp-content/themes/bushwick/img/default-header.jpg) no-repeat scroll center;
			background-size: cover;
		}
		</style>
</head>
<body class="home blog group-blog">

#foreach($contact in $list)

<a href="/blog/contact/blogid/${contact.code}"></a>
	
	<br/>
	<br/>
	
<article id="post-894" class="post-894 post type-post status-publish format-standard hentry category-1 entry-preview">
	<header class="entry-header">
	<h1 class="entry-title">
	<a href="/blog/contact/blogid/${contact.code}" rel="bookmark">$contact.title</a>
	</h1></header>


</article>
#end

</body>
</html>