<!DOCTYPE html>
<html lang="zh-CN">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>海眼看天下 </title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../script/until.js"></script>
</head>
<body>

	<form action="" method="post" id="blogpost">
		标题：<input type="text" id="title" name="title"/>
		
		<br/>
		短标题：<input type="text" id="smallTitle" name="smallTitle"/>
		<br/>
		内容：<br/>
		<textarea rows="20" clos="300" id="intro">
			
        </textarea>
		<br/>
		<input type="button" value="submit" name="butsubmit" id="butsubmit"/>
    </form>
	
	         
	<script >

	
	
		$(function(){
			$('#butsubmit').click(function(){
				var title = $("#title").val();
				var smallTitle = $("#smallTitle").val();
				var intro = $("#intro").val();

				$.postJSON("/blog/manage/add",{title:title,smallTitle:smallTitle,intro:intro});

			});
		})
		
    </script>
</body>
</html>