<!DOCTYPE html>
<html lang="zh-CN">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>海眼看天下 </title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body class="home blog group-blog">

	<form action="" method="post" id="blogpost">
		标题：<input type="text" id="title" name="title"/>
		
		<br/>
		短标题：<input type="text" id="smallTitle" name="smallTitle"/>
		<br/>
		<input type="button" value="submit" name="butsubmit" id="butsubmit"/>
    </form>
	
	
	<script >
	$.postJSON = function(url, data, callback) { 
    return jQuery.ajax({ 
        'type': 'POST', 
        'url': url, 
        'contentType': 'application/json', 
        'data': JSON.stringify(data), 
        'dataType': 'json', 
        'success': callback 
    }); 
};
		$(function(){
			$("#butsubmit").click(function(){
				$.postJSON('/blog/manage/add-contact',$("#blogpost").serialize())
				/*
				$.ajax({
					url:'/blog/manage/add-contact',
					type:'POST',
					data:$("#blogpost").serialize(),
					contentType:'application/json',
					success: function (data) {
                            alert('Client created!! :-)')
                        },
                    error: function (jqXHR, textStatus, errorThrown) {
                            alert('An error has occured!! :-(')
                        }
					
				});
				*/
			});
		})
		
		function RateArticleSuccess(result){
			alert(result);
		}
    </script>
</body>
</html>